/* ==========================================================================
   Version History
   ========================================================================== */

#VersionHistoryMenu.cms-content-tools {
	float: left;
	width: 30%;
	padding: 16px 16px 16px 5px;
}
#VersionHistoryMenu.cms-content-tools table {
	width: 100%;
}
#VersionHistoryMenu td:hover {
	cursor: pointer;
}

#VersionComparisonSummary {
	float: left;
	width: 63%;
	padding-left: 16px;
}

#VersionComparisonSummary ins { background-color: #DFD; padding: 2px; text-decoration: none; }
#VersionComparisonSummary del { background-color: #FDD; padding: 2px; color: #ff4444; }
#VersionComparisonSummary.loading {
	opacity: 0.5;
}

@media only screen and (max-width: 768px) {
	#VersionComparisonSummary,
	#VersionHistoryMenu.cms-content-tools {
		width: 100%;
	}

	#VersionComparisonSummary {
		padding-left: 0;
	}
}
